#frame{
    position: relative;
    width: 100%;
    height: 900px;
    overflow: hidden;
    margin-bottom: 50px;
    .panel{
        height: 100%;
        position: absolute;
        display: flex;
        left: -100vw;
        cursor: pointer;
        li{
            width: 100vw;
            height: 100%;
           img{
            width: 100%;
            height: 100%;
           } 
        }
    }
    
}

#banner{
    width: 1440px;
    margin: 0 auto;
    cursor: pointer;
    .imgBox{
        width: 100%;
        height: 118.62px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .item_wrap{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .videoBox{
            width: 927.97px;
            height: 572.2px;
            video{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .imgBox{
            width: 572.2px;
            height: 572.2px;
            overflow: hidden;
            position: relative;
            .banner_slide{
                width: 100%;
                height: 100%;
                position: absolute;
                transition: 0.5s;
                li{
                position: absolute;
                width: 100%;
                height: 100%;
                    img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    }
                }
            }
            
            .btns{
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                gap: 10px;
                li{
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: #fff;
                    border: 0.5px solid #999;
                    &.on{
                        background-color: #000;
                        border: none;
                    }
                }
            }
        }
        
    }
}

#recommend{
    width: 1440px;
    height: 465.5px;
    margin: 100px auto;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 12px;
        left: 0;
        width: 1440px;
        height: 2px;
        background-color: #000;
        z-index: -1;
    }

    h1{
        width: 600px;
        background-color: #fff;
        margin: 0 auto 100px;
        display: block;
        font: bold 30px/1 "Phudu";
        letter-spacing: 1px;
        text-align: center;
    }
    .items_wrap{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 100px;
        overflow: hidden;
        li{
            width: 100%;
            display: flex;
            justify-content: space-between;
            &:nth-of-type(1){
                position: absolute;
                left: -110vw;
            }
            &:nth-of-type(2){
                position: absolute;
                left: 0vw;
            }
            &:nth-of-type(3){
                position: absolute;
                left: 110vw;
            }
            article{
                height: 350px;
                cursor: pointer;
                img{
                    width: 270px;
                    height: 270px;
                    object-fit: cover;
                }
                &:hover{
                    .txt{
                        p{
                            opacity: 1; 
                            transform: translateY(0px);
                        }
                    }
                }
                .txt{
                    width: 260px;
                    height: calc(350px - 270px);
                    padding: 0 5px;
                    
                    p{
                        width: 100%;
                        opacity: 0;
                        transform: translateY(-25px);
                        transition: 0.5s;
                        &.brand{
                            font: 12px/1 "Phudu";
                            color: #999;
                            margin-top: 20px;
                        }
                        &.prod_title{
                            font: 14px/1 "Phudu";
                            color: #999;
                            margin-top: 10px;
                        }
                        &.prod_price{
                            font: bold 14px/1 "Phudu";
                            color: #000;
                            margin-top: 5px;
                        }
                    }
                }
                    
            }
        }
    }
    .prev{
        position: absolute;
        top: 200px;
        i{
            font-size: 50px;
        }
        width: 31.25px;
        height: 50px;
        left: -50px;
    }
    .next{
        position: absolute;
        top: 200px;
        i{
            font-size: 50px;
        }
        width: 31.25px;
        height: 50px;
        right: -50px;
    }
}

#full_banner{
    width: 100%;
    overflow: hidden;
    section{
        width: 1440px;
        height: 900px;
        margin: 0 auto;
        position: relative;
        transition: 0.5s;
        overflow: hidden;
        .imgBox{
            width: 100%;
            margin-bottom: 40px;
            img{
                width: 100%;
                object-fit: cover;
                cursor: pointer;
            }
        }
        .txtBox{
            margin: 0 auto;
            h1{
                font: bold 40px/1 "Phudu";
                text-align: center;
                letter-spacing: 1px;
                margin-bottom: 20px;
            }
            h2{
                font: 20px/1 "Phudu";
                text-align: center;
                letter-spacing: -2px;
                color: #222;
                margin-bottom: 30px;
            }
        }
        .btnBox{
            margin: 0 auto;
            width: 180px;
            height: 50px;
            padding: 0 9px;
            background-color: #fff;
            border: 1px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            a{
                font: 16px/1 "맑은 고딕";
                letter-spacing: -1px;
                color: #000;
            }
            &:hover{
                background-color: #000;
                border: 1px solid #fff;
                a{
                    color: #fff;
                }
            }
        }
    }
}