.NEW_prod_wrap{
   width: 100vw;
   height: auto;
   min-height: 100%;
   padding-bottom: 450px;
   padding: 50px 80px;
   margin: 0 auto;
   @import "../common/filter_wrap";
   .list_control_wrap{
      width: calc(100% - 270px);
      margin-left: 270px;
      h2{
         font: bold 30px/100px "Phudu";
         height: 100px;
         letter-spacing: 1px;
         span{
            color: #aaa;
         }
      }
      section{
         width: 100%;   
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         article{
            width: 360px;
            height: 660px;
            .imgBox{
               width: 100%;
               height: 490px;
               background-color: #e4e6e9;
               overflow: hidden;
               position: relative;
               img{
                  width: 100%;
                  height: 100%;
                  object-fit: contain;
                  position: absolute;
                  transition: 0.5s;
                  &.before{
                     opacity: 1;
                  }
                  &.after{
                     opacity: 0;
                  }
                  // &:hover{ 
                  //    &.before{
                  //       opacity: 0;
                  //    }
                  //    &.after{
                  //       opacity: 1;
                  //    }
                  // }
               } 
            }
            figcaption{
               padding: 13px 15px 0;
               a{
                  font: 14px/1 "Phudu";
                  color: #999;
               }
               p{
                  font: bold 14px/1 "Phudu";
                  margin-top: 10px;
               }
            }
         }
      }
   }
}



